
body{
  background:rgb(0,150,136);
}

.red{
  background-color:red;
  margin:3% 0;
  height:90vh;
}
.sx{
  border-right:1px solid black;
  height:100%;
  background:white;
}
.dx{
  height:100%;
  background:black;
}
.sinistra-fixed{
  display: flex;
  justify-content:space-between;
  align-items:center;
  height:60px;
  background:rgb(234,234,234);
}
.sinistra-fixed-sx img , .destra-fixed-sx img{
  width:50px;
  height:50px;
  margin:5px 5px 0 10px;
  border-radius:50%;
}

.sinistra-fixed-dx a, .destra-fixed-dx a, .send-message a,.notification a{
  margin-right:20px;
  text-decoration: none;
  color:black;
  opacity:0.5;
  font-size:20px;
}
.sinistra-fixed-dx a:hover,.destra-fixed-dx a:hover, .send-message a:hover{
  opacity:1;
}
.destra-fixed{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:gray;
  height:60px;
  background:rgb(234,234,234);
}
.destra-fixed-sx{
  display: flex;
  align-items: center;
}
.destra-fixed-sx p{
  color:black;
  opacity:0.6;
}
.destra-fixed-dx{
  display: flex;
}
.notification{
  display: flex;
  align-items:center;
  height:80px;
  background:rgb(142, 218, 252);
  border:1px solid white;

}
.notification > a{
  font-size:40px;
  margin-left:20px;
}

.alert{
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  font-size:10px;
}
.alert a p{
  font-size:15px;
  text-decoration: underline;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  background:rgb(230,230,230);

}
.search-input{
  display: flex;
  align-items: center;
  height:30px;
  width:98%;
  background-color:white;
}
.search-input i{
  font-size:20px;
  color:rgba(0, 0, 0, 0.5);
  margin-left:15px;
}
.search-input p{
  font-size:15px;
  color:rgba(0, 0, 0, 0.5);
  margin-left:20px;
}
/* .search input{
  height:30px;
  width:95%;

} */
.chat-name {

  height:calc(100% - 180px);
  overflow:auto;
}
.chat-name section{
  display: flex;
  align-items: center;
  height:60px;
  background:white;
  border-bottom:1px solid #c7c8c9;
}
.chat-name section img{
  height:50px;
  width:50px;
  border-radius:50%;
  margin-left:10px;
}
.chat-name section:hover{
  background-color:rgb(234,234,234);
}
.message-name{
  margin-left:20px;
}
.message-name p{
  color:black;
  opacity:0.6;
}
.chat{
  height:calc(100% - 120px) ;
  background-image:url("sfondochat.png");
  overflow: auto;
}

.send-message{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:60px;
  background:rgb(234,234,234);
}
.send-message input{
  width:70%;
  height:40px;
}
.utente-verde{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right:30px;

}
.utente-verde p{
  background:rgb(213,249,186);
  color:black;
  padding:10px 30px;
  border-radius:15px;
  margin-top:10px;
  margin-bottom:10px;
}
.utente-bianco{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left:30px;

}
.utente-bianco p{
  background:white;
  color:black;
  padding:10px 30px;
  border-radius:15px;
  margin-top:10px;
  margin-bottom:10px;
}
